{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/transform-runtime"],
    [
      "module-resolver",
      {
        "alias": {
          "@root": ".",
          "@src": "./src",
          "routes": "./src/routes",
          "modules": "./src/modules",
          "models": "./src/models",
          "database": "./src/database",
          "controllers": "./src/controllers"
        }
      }
    ]
  ]
}
